<p>
Single cell RNA-sequencing (scRNA-Seq) is a method of quantifying
transcript expression levels in individual cells. scRNA-Seq technology
can take on many different forms and this area of research is rapidly
evolving. In 2022, the most widely used systems for performing scRNA-Seq
involve separating cells and introducing them into a microfluidic system
which performs the chemistry on each cell individually (droplet-based
scRNA-Seq).
</p>

<p> In this workshop we will primarily focus on the 10X
Genomics technology. 10X Genomics is a market leader in the single cell
space and was among the first technologies that made it feasible to
profile thousands of cells simultaneously. Single cell technology is
changing rapidly and it is not clear whether any other companies will be
able to successfully challenge 10X’s dominance in this space.
</p>

