<div class="row">
  <div class="col-md-6">
  <h3>Thursday, Dec 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://dmgatti.github.io/SingleCellRNAseq/setup.html">Follow setup instructions</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/">Introduction and Workshop Overview</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/02-Experimental-Considerations/index.html">Experimental Considerations</a></td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/03-Overview-scRNA-seq-Data/index.html">Overview of scRNA-seq Data</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>1:30</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/04-Quality-Control/index.html">Quality Control of scRNA-Seq Data</a></td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/05-Common-Analyses/index.html">Common Analyses</a></td> </tr>
      <tr> <td>3:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Friday, Dec 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="">Recap day 1</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/06-Biology-Driven-Analyses/index.html">Biology Driven Analyses of scRNA-Seq</a></td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/07-Analyzing-Your-Data/index.html">Analyzing Your Data</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>1:30</td>  <td><a href="https://dmgatti.github.io/SingleCellRNAseq/08-Future-Directions/index.html">Future Directions</a></td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>3:45</td>  <td><a href="">Post-workshop survey</a> </td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
