{% include install_instructions/r.html %}


<h3>Install packages</h3>

Install `tidyverse`, `Matrix`, `Seurat` and `BiocManager` packages from the RStudio Packages tab or by copy-pasting
the following in the Console. Once `BiocManager` is installed load `SingleCellExperiment`, `scds` and `harmony` from Bioconductor.

~~~
install.packages(c("tidyverse", "Matrix", "Seurat", "BiocManager", "harmony",
                   "enrichR"), dependencies = TRUE)
BiocManager::install(c("SingleCellExperiment", "scds", "DESeq2"))
~~~
{: .r}

Once the installation has finished, load the libraries to verify that all packages
installed correctly.

~~~
library(tidyverse)
library(Matrix)
library(Seurat)
library(harmony)
library(enrichR)
library(SingleCellExperiment)
library(scds)
library(DESeq2)
~~~
{: .r}

<h3>Data files and project organization</h3>

1. Create a new project called `scRNA`.
    - Click the `File` menu button, then `New Project`.
    - Click `New Directory`.
    - Click `New Project`.
    - Type `scRNA` as the directory name. Create the project anywhere you like,
      but don't forget where you put it!
    - Click the `Create Project` button.
    This will create a file called `scRNA.Rproj` in the directory you just
    created. In the future you can double-click on this file to open
    `RStudio` in this directory. This will be the easiest way to interact
    with the files/code you produce in this workshop.

2. Use the `Files` tab to create  a `data` folder to hold the data, a `scripts`
folder to house your scripts, and a `results` folder to hold results.
Alternatively, you can copy and paste the following commands into the `R`
console for step 2 only. You still need to create a project with step 1.

~~~
dir.create("data")
dir.create("scripts")
dir.create("results")
~~~
{: .r}

## Data Download

Open the `scRNA.Rproj` project.
**Before the workshop**, please download the following files:
~~~
download.file(url = 'https://thejacksonlaboratory.box.com/shared/static/vfe1bwyqtypxs6p5k4z0cw7z7jczyan1.zip', 
              destfile = 'data/mouseStSt_exvivo.zip',
              method   = 'curl', 
              extra    = ' -L ')
download.file(url = 'https://thejacksonlaboratory.box.com/shared/static/b153ueu2lie3st760maj4zr9u0vp7o2t.zip', 
              destfile = 'data/mouseStSt_invivo.zip',
              method   = 'curl', 
              extra    = ' -L ')
download.file(url = 'https://thejacksonlaboratory.box.com/shared/static/yx64wion3etmbidtt4bm2nbl1yyceptn.txt',
              destfile = 'data/regev_lab_cell_cycle_genes_mm.fixed.txt',
              method   = 'curl', 
              extra    = ' -L ')
unzip(zipfile = 'data/mouseStSt_invivo.zip' ,
      exdir   = 'data')
unzip(zipfile = 'data/mouseStSt_exvivo.zip',
      exdir   = 'data')
~~~
{: .r}
